pycolmap>=0.6.0
lightglue @ git+https://github.com/cvg/LightGlue
opencv-python>=4.8.0
kornia>=0.7.0
numpy>=1.24.0,<2.0
scipy>=1.11.0
tqdm>=4.65.0
matplotlib>=3.7.0
cycler>=0.11.0
h5py>=3.9.0
clearml>=1.14.0
